# Project exclude paths
/cmake-build-debug/
/data/N1400gv.root
/data/det2.root
/analyzed/A1710gv.root
/analyzed/N2564gv.root
/data/A1710gv.root
/data/N880gv.root
/data/N2460gv.root
/data/N1710gv.root
/match/N898gvm.root
/data/N950gv.root
/match/N1034gvm.root
/data/N975gv.root
/match/N880gvm.root
/match/N975gvm.root
/data/N1034gv.root
/match/A1710gvm.root
/match/N1055gvm.root
/data/N1055gv.root
/match/N813gvm.root
/match/N950gvm.root
/match/N2137gvm.root
/analyzed/N1710gv.root
/data/A2564gv.root
/data/N920gv.root
/data/N813gv.root
/data/N860gv.root
/match/N1045gvm.root
/match/N860gvm.root
/data/N2137gv.root
/data/N898gv.root
/match/N2460gvm.root
/data/N1000gv.root
/match/N1400gvm.root
/analyzed/A2137gv.root
/data/A2137gv.root
/match/A2137gvm.root
/data/det1.root
/match/N920gvm.root
/match/N1000gvm.root
/data/N2460gv3HE.root
/data/N835gv.root
/match/N835gvm.root
/data/matcher.json
/match/A2564gvm.root
/analyzed/N2137gv.root
/data/N1045gv.root
/match/N1710gvm.root
/analyzed/A2564gv.root
/match/N2564gvm.root
/data/N2564gv.root
/data/source.json
/data/su.root
/.idea/vcs.xml
/analyzed/N860gv.root
/analyzed/N950gv.root
/analyzed/N975gv.root
/analyzed/N1000gv.root
/data/match/sum.root
/analyzed/N835gv.root
